<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="<%= theme.sources_cdn.MDUI_css%>">
<link rel="stylesheet" href="<%= theme.sources_cdn.main_css%>">
<script src="<%= theme.sources_cdn.MDUI_js %>"></script>
<script src="<%= theme.sources_cdn.Valine %>"></script>
<script src="<%= theme.sources_cdn.jquery %>"></script>
<script src="<%= theme.sources_cdn.jquery_pjax %>"></script>
<!--传统手艺不能丢-->
<script>var bug = 0;</script>
<link rel="shortcut icon" href="<%= theme.icon %>">
<title><%= config.title %></title>