<!DOCTYPE html>
<html>
<head>
<%- partial('head') %>
</head>
<body class="mdui-theme-primary-<%= theme.color.primary%> mdui-theme-accent-<%= theme.color.accent%>" id="main-body">
    <%- partial('_MDUI/appbar') %>
    <%- partial('_MDUI/drawer') %>
    <div class="mdui-container" id="pjax-main">
        <%- body %>
    </div>
    <%- partial('_MDUI/fab') %>
    <%- partial('footer') %>
</body>
<% if (theme.pjax_enable) {%><script>$(document).pjax('a', '#pjax-main' , {fragment:'#pjax-main', timeout:8000}); </script><%}%>
<script src="<%= theme.sources_cdn.main_js %>"></script>
</html>